<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	
	<insert id="insertMember" parameterType="com.member.model.vo.Member">
		INSERT INTO MEMBER VALUES(#{userid}, #{password}, #{username},
								  #{gender}, #{age}, #{email},
								  #{phone}, #{address}, #{hobby}, SYSDATE)
	</insert>
	
	
	<select id="login" parameterType="com.member.model.vo.Member" resultType="com.member.model.vo.Member">
		SELECT * FROM MEMBER WHERE USERID = #{userid} AND PASSWORD = #{password} 
	</select>
  
  
  	<select id="checkDuplicateId" parameterType="string" resultType="com.member.model.vo.Member">
  		SELECT * FROM MEMBER WHERE USERID = #{userid} 
  	</select>
  	
  	
  	<delete id="" parameterType="string">
  		DELETE FROM MEMBER WHERE USERID = #{ userid }
  	</delete>
  	
  	
  	<update id="updateMember" parameterType="com.member.model.vo.Member">
  		UPDATE MEMBER SET USERNAME= #{ username },
  					  GENDER= #{ gender }, 
  					  AGE= #{ age }, 
  					  EMAIL= #{ email }, 
  					  PHONE= #{ phone }, 
  					  ADDRESS= #{ address }, 
  					  HOBBY= #{ hobby } 
  					  WHERE USERID = #{ userid }
  	</update>
  	
  	<update id="updatePassword" parameterType="com.member.model.vo.Member" >
  		UPDATE MEMBER SET PASSWORD = #{ password } WHERE USERID = #{ userid }
  	</update>
</mapper>

